<ul class="nav navbar-nav navbar-right">
    <li><a [routerLink] = "['/mainpage/scheduler']" (click)="isCollapsed = true"><span class="glyphicon glyphicon-user"></span> Scheduler</a></li>
    <li><a [routerLink] = "['/auth/signin']" (click)="isCollapsed = true"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a [routerLink] = "['/auth/logout']" (click)="isCollapsed = true"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

    <router-outlet></router-outlet>
</ul>