<style>
    *:focus {
        outline: 0 !important;
    }
    label {
        font-size: 1.2em
    }
    label>input {
        margin-left: 8%;
        width: 80%;
    }
</style>

<div style="margin:0% 0% 0% 0%;border: 0.3px solid #2177AA; ">
<div class="header" style="background-color:#2177AA; color:azure; height:10vh;">
    <button type="button" class="btn btn" data-toggle="modal" data-target="#addModal" style="float:right; height: auto;">Change Password</button>
</div>

<div class="container my-profile-body" style="height: 100%; border: 0.3px solid #07889B; background-color:rgba(5,91,104,0.1)">
    <div class="container col-xs-12" style="background-image: url('https://images.unsplash.com/photo-1502208703672-cd22f37691ed?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1200&h=600&fit=crop&s=eff7bea660bfff3d5b79d7c8de63fa57'); background-size: cover;">
        <div style="background-color: rgba(142,187,192,0.9); height: 200vh; margin: 0% 15% 0% 15%">
            <div class="col-xs-6" style="padding: 5% 5% 0% 5%;">
                <a style="width: 50%" href="https://placeholder.com"><img src="http://via.placeholder.com/1000x1000"></a>
            </div>
            <div class="col-xs-6" style="padding: 5% 5% 0% 0%;">
                <div *ngIf="isCollapsed">
                <div class="card" style="background-color:rgba(142,187,192,0.9); border: 1px solid rgba(142,187,192,0.9); padding-top: 2%">
                    <div class="card-body">
                    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                        <div>
                            <div class="row columns" style="text-align:left; width: 90%; margin-top: 2vh">
                                <label><b>First Name</b>
                                    <input type="text" formControlName="firstName" value="{{ currUser?.firstName }}">
                                </label>
                                <label><b>Last Name</b>
                                    <input type="text" formControlName="lastName" value="{{ currUser?.lastName }}">
                                </label>
                                <label><b>Email</b>
                                    <input type="text" formControlName="email" value="{{ currUser?.email }}">
                                </label>
                                <div class="button-container">
                                <div class="container col-xs-6 col-xs-offset-6"> 
                                    <input type="submit" class="button btn-primary" value="Save Changes">
                                </div>
                                </div>
                            </div>
                        </div>
                    </form>  
                    </div>
                </div>
                </div>        
                <div id="collapseExample" [ngbCollapse]="isCollapsed" style="padding-top: 2%">
                    <label><b>First Name: </b></label> {{ currUser?.firstName }}
                    <label><b>Last Name: </b></label> {{ currUser?.lastName }}
                    <label><b>Email: </b></label> {{ currUser?.email }}
                    <hr>
                    <label><b>Phone Number: </b></label>
                    <label><b>Kakao Talk: </b></label>
                    <hr>
                    <label><b>Rating: </b></label>
                    <label><b>Complements: </b></label>
                    <label><b> </b></label>
                </div>
                <p style="margin-left: 70%">
                <button type="button" class="btn btn" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" style="border: 1px solid black">
                    Edit Profile
                </button>
                </p>
            </div>
            <div class="container col-xs-12">
                <div class="panel panel-primary text-center" style="border: 0; background-color: transparent;">
                    <div class="panel-body">
                        <div style="margin-top:3%">
                            <div class="list-group" style="width: 90%; margin: auto">   
                                <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let tempPosition of tempPositionsNew; let i = index" [attr.data-index]="i">
                                    <div *ngIf="tempPosition.status === 'approved'; else waiting">
                                    <div class="d-flex w-100 justify-content-between" style="text-align:left; ">
                                        <h5 class="mb-1" style="margin-left:0px">
                                            <span class="{{ tempPosition.glyphicon }}" [style.color]="tempPosition.color"></span> {{ tempPosition.workName }}
                                        </h5>
                                        <small style="position: absolute; top:5px; right:50px"><a href="#">Edit</a></small>
                                        <small style="position: absolute; top:5px; right:10px"><a href="#">Delete</a></small>
                                    </div>
                                    <p class="mb-1"> I'm the best <strong>{{ tempPosition.type }} </strong> ever </p> 
                                    </div>

                                    <ng-template #waiting>
                                        <div class="d-flex w-100 justify-content-between" style="text-align: left;">
                                            <h5 class="mb-1" style="margin-left: 0px" >  <span class="{{ tempPosition.glyphicon }}" [style.color]="tempPosition.color"></span> {{ tempPosition.workName }} </h5>
                                            <small style="position: absolute; top:5px; right:50px"><a href="#">Remind</a></small>
                                            <small style="position: absolute; top:5px; right:10px"><a href="#">Delete</a></small>
                                        </div>
                                        <div class="mb-1" style="background-color:rgba(242,114,69,0.1);">
                                            <p>Not yet the best {{tempPosition.type}}. Waiting for approval.</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

</div>




 <div class="modal" id="addModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please enter your new password</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="passwordForm" (ngSubmit)="submitPassword(passwordForm.value)">
                <div>
                    <div class="row columns">
                        <label>Current Password
                            <input type="password" formControlName="oldPassword">
                        </label>
                        <label>New Password
                            <input type="password" formControlName="newPassword">
                        </label>
                        <label>Confirm New Password
                            <input type="password" formControlName="confirmPassword">
                        </label>
                        <div class="alert alert-danger" *ngIf="!passwordConfirmed">Password does not match</div>
                        <div class="button-container">
                        <div class="container col-xs-6">
                            <button [disabled]="!passwordForm.valid" type="submit" class="button btn-primary" style="height: 7vh">Save Changes</button>
                        </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    
  </div>
</div>

</div>