<div class="header" style="background-color:#07889B; color:azure; height:100px;">
    <h1 style="padding-top: 15px; text-align:center">Check and manage your profile</h1>
</div>
<div class="container my-profile-body" style="height: 100vh">
    <div class="container col-xs-6" style="margin-top: 30px">
        <div class="panel panel-primary text-center" style="border: 0">
            <div class="panel-heading" style="background-color: #02454E; border: 0">
                My Profile
            </div>
            <div class="panel-body">
                <div>
                    <span class="glyphicon glyphicon-user" style="color: #414141; font-size: 6em"></span>
                </div>
                <div *ngIf="!firstName; else forminfo">
                    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                        <div>
                            <div class="row columns">
                                <label>First Name
                                    <input type="text" formControlName="firstName" value="{{ currUser?.firstName }}">
                                </label>
                                <label>Last Name
                                    <input type="text" formControlName="lastName" value="{{ currUser?.lastName }}">
                                </label>
                                <label>Email
                                    <input type="text" formControlName="email" value="{{ currUser?.email }}">
                                </label>

                                <label for="validate"> Minimum of 3 Characters </label>
                                <input type="checkbox" name="validate" formControlName="validate" value="1">On
                                <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
                            </div>
                        </div>
                    </form>
                </div>

                <ng-template #forminfo>
                    <div class="form-container">
                        <div class="row columns">
                            <h1> {{ firstName }} </h1>
                            <h1> {{ lastName }} </h1>
                            <p> {{ description }} </p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="container col-xs-6" style="margin-top: 30px">
        <div class="panel panel-primary text-center" style="border: 0">
            <div class="panel-heading" style="background-color: #02454E; border: 0">
                My Work
            </div>
            <div class="panel-body">
                <div>
                    <span class="glyphicon glyphicon-briefcase" style="color: #414141; font-size: 6em"></span>
                </div>
                <div style="margin-top:3%">
                    <div class="row columns" style="margin-bottom:5%">
                        <div class="container col-xs-4" >
                            <button type="button" class="btn btn" data-toggle="modal" data-target="#work1modal" style="width:150px; background-color: #A8185F; color: white; border-radius: 3px">
                                Work 1
                            </button>
                        </div>
                        <div class="container col-xs-6 col-xs-offset-2" style="text-align:left">
                            <p>Yo insert a text here</p>
                        </div>                    
                    </div>
                    <div class="row columns" style="margin-bottom:5%">
                        <div class="container col-xs-4">
                            <button type="button" class="btn btn" data-toggle="modal" data-target="#work1modal" style="width:150px; background-color: #E7D016; color: white; border-radius: 3px">
                                Work 2
                            </button>
                        </div>
                        <div class="container col-xs-6 col-xs-offset-2" style="text-align:left">
                            <p>Insert another text here</p>
                        </div>
                    </div>
                    <div class="row columns" style="margin-bottom:5%">
                        <div class="container col-xs-4">
                            <button type="button" class="btn btn" data-toggle="modal" data-target="#work1modal" style="width:150px; background-color: #18A819; color: white; border-radius: 3px">
                                Work 3
                            </button>
                        </div>
                        <div class="container col-xs-6 col-xs-offset-2" style="text-align:left">
                            <p>Last time inserting some text here </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 <div class="modal" id="work1modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Work 1</h4>
        </div>
        <div class="modal-body">
            <p>Here are some info about your work</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Leave Work</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>