/*Header Component Navigation Bar*/
.navbar {
    letter-spacing: 3px;
    font-size: 12px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Profile Component*/

.my-container-center {
    margin-left: auto;
    margin-right: auto;
}