<div style="margin:2% 4% 2% 4%;">
    <div class="header" style="background-color:#07889B; color:azure; height:40px;">
        <p style="font-size: 20px; padding-top:0.4%; margin-left: 3%">Join Kakao Talk OpenChat For Your Work</p>
    </div>
    <div class="main-container" style="text-align:center;  height: 75vh">
        <div style="background-color:rgba(5,91,104,0.1);border: 0.3px solid #07889B;">
            <div class="link">
                <a href="https://open.kakao.com/o/gSeyaMy"> <!-- TODO : Should pull from mongodb to make it more dynamic -->
                    <img src="/img/kakaotalk.svg" alt="Seems like the link is broken. Please contact your manager" style="width:200px;height:200px; margin-top:30px">
                </a>
            </div>
            <div class="description" style="margin-top: 20px; margin-bottom: 20px; color: #07889B">
                <h3>Start chatting with your co-workers!</h3>
                <h5>Don't have Kakao Talk? <a href="http://www.kakao.com/talk"> <ins>Download</ins> </a></h5>
            </div>
        </div>
    </div>
</div>