<div class="main-container" style="text-align:center; background-color:rgba(5,91,104,0.1); height: 100%">
    <div class="header" style="background-color:#07889B; color:azure; height:100px;">
        <h1 style="padding-top: 15px;">Join company_name's Kakao Talk OpenChat</h1> <!-- TODO : Should pull from mongodb to make it more dynamic -->
    </div>
    <div class="link" style="margin-top: 50px">
        <a href="https://open.kakao.com/o/gSeyaMy"> <!-- TODO : Should pull from mongodb to make it more dynamic -->
            <img src="/img/kakaotalk.svg" alt="Seems like the link is broken. Please contact your manager" style="width:200px;height:200px">
        </a>
    </div>
    <div class="description" style="margin-top: 20px; margin-bottom: 20px; color: #07889B">
        <h3>Start chatting with your co-workers!</h3>
        <h5>Don't have Kakao Talk? <a href="http://www.kakao.com/talk"> <ins>Download</ins> </a></h5>
    </div>
</div>