<style>
.main-main-container {
    margin:0% 0% 0% 0%;
    background-color:rgba(89, 92, 87, 0.1)
}

.header {
    background-color:#595C57;
    color:azure;
    height:10vh;
    font-size: 9vh; 
    padding-left: 2%
}
</style>

<div class="main-main-container">
<div class="header">
    Group Chat
</div>
    <div class="main-container" style="text-align:center;  height: 80vh">
        <div>
            <div class="link">
                <a href="https://open.kakao.com/o/gSeyaMy"> <!-- TODO : Should pull from mongodb to make it more dynamic -->
                    <img src="/img/kakaotalk.svg" alt="Seems like the link is broken. Please contact your manager" style="width:200px;height:200px; margin-top:30px">
                </a>
            </div>
            <div class="description" style="margin-top: 20px; margin-bottom: 20px; color: #07889B">
                <h3>Start chatting with your co-workers!</h3>
                <h5>Don't have Kakao Talk? <a href="http://www.kakao.com/talk"> <ins>Download</ins> </a></h5>
            </div>
        </div>
    </div>
</div>