<head>
    <title>Busyduck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/auth']">Busyduck</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLinkActive="active" [routerLink] = "['/auth/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a routerLinkActive="active" [routerLink] = "['/auth/signin']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a routerLinkActive="active" [routerLink] = "['/auth/logout']"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

            </ul>
        </div>
    </div>
</nav>


<!--<header class="row">-->
    <!--<nav class="col-md-8 col-md-offset-2">-->
        <!--<ul class="nav nav-pills">-->
            <!--<li routerLinkActive="active"><a [routerLink]="['/login']">Login</a> </li>-->
            <!--<li routerLinkActive="active"><a href="">HI</a> </li>-->
        <!--</ul>-->
    <!--</nav>-->
<!--</header>-->