*:focus {
    outline: 0 !important;
}

* {
    color: #1A2545
}

.main-main-container {
    margin:0% 0% 0% 0%;
}

.header {  
    height:12vh;
    font-size: 9vh; 
    padding-left: 2%
}

/* Left side */

/*07889B*/

.scheduler-container {
  margin-top: 0%;
}

.square-box{
    position: relative;
    width: 3%;
    height: 5vh;
    border-radius: 7px 7px 7px 7px;
    margin: 1%;
    margin-left: 0%;
}

.box-item {
    height:7vh;
    padding-left:1.2vw;
    padding-top: 0.4vh; 
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#workplaceCollapse, #toolsCollapse {
    height: 21vh; 
    width: 16vw; 
    overflow-y: scroll; 
    margin-left: 10%;
}

#toolsCollapse {
    height: 14vh;
}

/* Right Side */

table { 
  width: 100%;  /*OR auto */
  border-collapse: collapse; 
  table-layout: fixed;
  display: block;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
  background: #12375C; 
  color: #F8F8F8; 
  font-weight: bold; 
}

td {
    background-color: #12375C
}
th {
    background-color:#12375C; 
}

td, th { 
  display:inline-block;
  width: 3.9vw; /*47px*/
  height: 6.3vh;
  padding: 4px; 
  border-bottom: 0.1px solid #ccc; border-right: 0.1px solid #ccc; 
  text-align: center; 
  color: #F8F8F8;
}

th#Date, td#Date {
    width:6.5vw;
}

/*Bootstrap button outline override*/
.btn.btn.normal {
    border: 2px solid #7568A5
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    border-radius: 3px;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    background-color: #428bca;
    color: #F8F8F8;
}

