<div style="margin:2% 4% 2% 4%;border: 0.3px solid #07889B; background-color:rgba(5,91,104,0)">
<div class="header" style="background-color:#07889B; color:azure; height:40px;">
    <p *ngIf="_actual; else preferred" style="font-size: 20px; padding-top:0.4%; margin-left: 2%">Check your actual schedule or add a new job</p>
    <ng-template #preferred>
        <p style="font-size: 20px; padding-top:0.4%; margin-left: 2%">Set your preferred schedule or add a new job</p>       
    </ng-template>
</div>
<div class="scheduler-container" style="height:63vh">
    <div class="work-container">
        <p style="margin-bottom:0"><b>Which schedule?</b></p>
        <div style="width:17.5vw; height: 6vh;">  
            <div class="radio radio-info radio-inline">
                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="" (change)="actualChecked($event)">
                <label for="inlineRadio1"> Actual </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="inlineRadio2" value="option1" name="radioInline" (change)="preferredChecked($event)">
                <label for="inlineRadio2"> Preferred </label>
            </div>
        </div>
        <div *ngFor="let tempPosition of tempPositionsNew; let i = index" [attr.data-index]="i" style="height:8vh; padding-left:1.5vw; padding-top: 2vh">
            <div class='square-box' [style.backgroundColor]="tempPosition.color" id='work_box_{{i}}' style="float:left">
            </div>
            <div style="margin-left: 2.5vw; padding-top:1.3vh">
                <span [ngClass]="tempPosition.glyphicon"></span>
                <span id='text_{{i}}' style="text-align: left">{{tempPosition.workName}}</span>
            </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#addModal" style="height: 7vh; margin-top: 4.5vh; border: 4px dashed rgba(81,81,81,0.7); width:15vw; margin-left: 1vw">
            <div style="margin-left:2.5vw; float:left">
                <span class="glyphicon glyphicon-plus" style="color: #414141; "></span>
                <span id='new-text' style="color: #414141; text-align:left;"> Got a new job?</span>
            </div>
        </button>
    </div>

    <div class="table-container" style="margin-left: 21vw; width: 70vw">
        <table>
            <thead>
                <tr>
                    <th id="Date"> </th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let date of dates">
                    <td id="Date">{{ date.day }}</td>
                    <td id="1_{{date.id}}" (click)="toggle($event)"></td>
                    <td id="2_{{date.id}}"></td>
                    <td id="3_{{date.id}}"></td>
                    <td id="4_{{date.id}}"></td>
                    <td id="5_{{date.id}}"></td>
                    <td id="6_{{date.id}}"></td>
                    <td id="7_{{date.id}}"></td>
                    <td id="8_{{date.id}}"></td>
                    <td id="9_{{date.id}}"></td>
                    <td id="10_{{date.id}}"></td>
                    <td id="11_{{date.id}}"></td>
                    <td id="12_{{date.id}}"></td>
                    <td id="13_{{date.id}}"></td>
                    <td id="14_{{date.id}}"></td>
                    <td id="15_{{date.id}}"></td>
                    <td id="16_{{date.id}}"></td>    
                    <td id="17_{{date.id}}"></td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>




 <div class="modal" id="addModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Congratulations on getting a new job!</h4>
        </div>
        <div class="modal-body">

        <form [formGroup]="newJobForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="location">Where are you working?</label>
                <input formControlName="location" type="text" id="location" class="form-control">
            </div>
            <div class="form-group">
                <label for="position">For what position?</label>
                <input formControlName="position" type="text" id="position" class="form-control">
            </div>
            <p>After submitting the application, please wait until your manager approves you into the team.</p>
            <button [disabled]="!newJobForm.valid" class="btn btn-primary" type="submit">Submit</button>
        </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>
</div>