*:focus {
    outline: 0 !important;
}

* {
    color: #1A2545;
}

.main-main-container {
    margin:0% 0% 0% 0%;
}

.header {  
    height:14vh;
}

.header>h1 {
    font-size: 9vh; 
    padding-top: 0.6%;
    padding-left: 3%;
    text-align: left;
    vertical-align: middle;
    position: absolute;
}

/* Left side */

/*07889B*/

.collapsable-panels-works, .collapsable-panels-tools {
    margin-left: 20%;
}

.square-box{
    position: relative;
    width: 3%;
    height: 5vh;
    border-radius: 7px 7px 7px 7px;
    margin: 1%;
    margin-left: 0%;
}

.box-item {
    height:7vh;
    padding-left:1.2vw;
    padding-top: 0.4vh; 
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #eee; 
     /*background: transparent;  make scrollbar transparent */
}

::-webkit-scrollbar-thumb {
    background: #aaa; 
}

#workplaceCollapse, #toolsCollapse {
    height: 21vh; 
    width: 14vw; 
    overflow-y: scroll; 
    margin-left: 10%;
}

#toolsCollapse {
    height: 14vh;
}

/* Right Side */

.schedule-table { 
  width: 900px;  /*OR auto */
  border-collapse: collapse; 
  table-layout: fixed;
  display: block;
}


/* Zebra striping */
.schedule-table tr:nth-of-type(odd) { 
  background: #eee; 
}

.schedule-table th { 
  background: #12375C; 
  color: #F8F8F8; 
  font-weight: bold; 
  vertical-align: top;
}

.schedule-table td, .schedule-table th {
    background-color: #12375C
}

.schedule-table td, .schedule-table th { 
  display:inline-block;
  width: 46px; /*47px*/
  height: 34px;
  padding: 0.1px; 
  text-align: center; 
  color: #F8F8F8;
  border-right: 0.1px solid #ccc
}

th#Date, td#Date {
    width:6.5vw;
    border-bottom: 0.1px solid #ccc;
}

.tbody-boxes {
  border-bottom: 0.1px solid #ccc; border-right: 0.1px solid #ccc; 
}

/*Bootstrap button outline override*/
.btn.btn.normal {
    border: 2px solid #12375C;
    border-bottom: 3px solid #0D2842
}

.btn.btn.normal:hover {
    border: 2px solid #12375C;
    background-color: rgba(18,55,92,0.2);
    border-bottom: 3px solid #0D2842
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    border-radius: 3px;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    background-color: #428bca;
    color: #F8F8F8;
}



/* announcements */
.ancmt{
    margin-left: 5%;
    margin-right: 5%;
    height: 75vh;
}

.table th {
    color: white;
}

.table td {
    background-color: #eee;
}