/* Left side */

/*07889B*/

.scheduler-container {
  margin-top: 1%;
}

.work-container {
  width: 15%; 
  float: left; 
  position: relative;
  margin-left:1%;
}

.square-box{
    position: relative;
    width: 4%;
    height: 5vh;
    border-radius: 7px 7px 7px 7px;
    margin: 2%;
    margin-left: 5%;
}

.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 16px;
}

.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}

.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

.box-item {
    height:7vh;
    padding-left:2vw;
    padding-top: 0.4vh; 
    cursor: pointer;
}

/* Right Side */

table { 
  width: 100%;  /*OR auto */
  border-collapse: collapse; 
  table-layout: fixed;
  display: block;
}

  /* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
  background: #02454E; 
  color: white; 
  font-weight: bold; 
}

td, th { 
  display:inline-block;
  width: 3.8vw; /*47px*/
  height: 6.2vh;
  padding: 5px; 
  border: 0.2px solid #ccc; 
  text-align: center; 
}



th#Date, td#Date {
    width:8.5vw;
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    border-radius: 3px;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    background-color: #428bca;
    color: white;
}